span.name {
    cursor: pointer;
}

/* Background Colors */
.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}

/* add hover */
.normal:hover {
    background-color: #aaaa98;
}

.fire:hover {
    background-color: #e9a068;
}

.water:hover {
    background-color: #a1baf0;
}

.electric:hover {
    background-color: #e7d17a;
}

.grass:hover {
    background-color: #B3FFAE;
}

.ice:hover {
    background-color: #aecfce;
}

.fighting:hover {
    background-color: #c06360;
}

.poison:hover {
    background-color: #a579a4;
}

.ground:hover {
    background-color: #dacaa2;
}

.flying:hover {
    background-color: #b4a8d6;
}

.psychic:hover {
    background-color: #c5889a;
}

.bug:hover {
    background-color: #bdc29c;
}

.rock:hover {
    background-color: #bbb490;
}

.ghost:hover {
    background-color: #9a86b4;
}

.dragon:hover {
    background-color: #9b88ca;
}

.dark:hover {
    background-color: #918076;
}

.steel:hover {
    background-color: #9c9cd6;
}

.fairy:hover {
    background-color: #d870a4;
}


.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #FFF;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #474E68;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
}



@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}